<div>
  <h1>Programming Language</h1>

  <!-- 表示するページをセレクトボックスから選択する -->
  <select [(ngModel)]="selectedLanguage">
    <option [value]="programmingLanguageEnum.JAVA">Java</option>
    <option [value]="programmingLanguageEnum.JAVASCRIPT">JavaScript</option>
    <option [value]="programmingLanguageEnum.TYPESCRIPT">TypeScript</option>
  </select>

  <!-- セレクトボックスで選択した内容で表示するページを切り替える -->
  <div>
    <ng-container *ngComponentOutlet="
    currentProgrammingLanguage.component;
    inputs: currentProgrammingLanguage.inputs;
  "
  />
  </div>
</div>
